@import 'start.css';
main{
    background-color: var(--nav_color);
    border-radius: 10px;
    padding: 40px;
    margin: 20px;
    margin-top: 200px;
    display: grid;
    text-align: left;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(3,33.33%);
}
main .para_1
{
    grid-row: 1;
    grid-column: 1;
    height: 55%;
    padding: 30px;
    font-size: 20px;
    margin: 10px;
    font-family:'Alata';
    background-color: #002120;
    border-radius: 10px;
    color:var(--txt_color);
}
main .para_2{
    grid-row: 2;
    grid-column: 2;
    height: 25%;
    margin: 10px;
    margin-top: 25%;
    font-size: 20px;
    font-family:'Alata';
    background-color: #002120;
    border-radius: 10px;
    padding: 30px;
    color:var(--txt_color);
}
main .para_3{
    grid-row: 3;
    grid-column: 1;
    font-size: 20px;
    font-family:'Alata';
    height: 73%;
    background-color: #002120;
    border-radius: 10px;
    padding: 30px;
    color:var(--txt_color);
}
main .gpu_1
{
    grid-row: 1;
    grid-column: 2;
    padding: 20px;
    margin-top: -20px;
    margin-left: 15%;
    width: 75%;
}
main .gpu_2{
    grid-row: 2;
    grid-column: 1;
    width: 70%;
    height: 70%;
    padding:10%; 
}
main .gpu_3{
    grid-row: 3;
    grid-column: 2;
    width: 80%;
    height: 95%;
    margin-left: 20%;
    border-radius: 10px;
    margin-top: 15px;
}